<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>MyAgnes! Socket Client 1 Listening...</h1>
        <p>Getting Updated Location from Employee</p>
        <p>
          <!-- <div>
            <a href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
            <a href="/signup"><button class="btn btn-info btn-lg">Sign Up</button></a>
          </div> -->
        </p>
      </div>
    </div>
    <script src = "/socket.io/socket.io.js"></script>
    <script>
      let data = {token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiZGUwNDhmOGZjZTU5MDdjNTM0Y2VkMDVhZDFjYjEyYzkwZmUwMjNlZDA5OTRiYzMxMGQwMjIwMTBlMjIwODZkMzA5ODMxMDY4MzU5YjdlODIiLCJpYXQiOjE2MTUwNTQ3MzksIm5iZiI6MTYxNTA1NDczOSwiZXhwIjoxNjQ2NTkwNzM5LCJzdWIiOiIxNiIsInNjb3BlcyI6W119.gvZ_3fVGRect5pfo_kXvNWgpg1rVajth6Pm2osbifYUeHAmBASf-_6AKdfeQfTg3gFGMyn1obYlrpVza0auteHKXyU9T6scF104JsunWaszJJJjylU8mlxFjlX6jtbttRFwd7Y94YpYgQI1kKV3yZ_JSPDYkrxEFPSOrfR1QTjeIxfOQEsoqncXjcwDkKkOXkv2L2lxmSgB6W-3weWWa1qRGJlrp9-Bic3grUZHGJZ6lBezBDiba9_zTywmjpsYppU9jiyUIfV3OcSLmeG3j1fC_bxRsmDMbTOvI9sbV_kiJsjzuM6r0IqYDK6JUP8cMbiJd4sKUctvgYe4jTB1t7z4QJM57RMm9zHRY-vnLFcSJTx6eLnNtOVwvej_D3UWvASY1BZjTUM-rb-q1WB95xHmH4iSnBs1iC99gtoa_d5beuCOOx6D9qp8QW4pkjLBltZ3nnJlvB6U_i8RoE1loOvLPK1mlZqov5ZLo9UEUluk6KPf2-JiezmyCL-ENf-aOYLPlwysp69lWOOH70OoS0Kwxcf9bEQ8XyV0f-2NakeETLyuPRWqZ5GKziWvvWLEajmDxkn3T5CbHGN7x1XuA3Lba7F7Jx-GIU3LlGoTctxdVlrnyjO8SR9lGwD5fJiYnE0MFUjPffMCWCyvs0r6wyLOyNGZ4sQ3ta6m2RNnrpl0"}
      const socket = io.connect('https://myagnesadmin.com/apis', {
        query: data
      });

      // socket.emit('message', {type: 1, data: {bookingId: 19}})
      // var socket = io();
      // setInterval(() => {
      //   socket.emit('message', {type: 1, data: {latitude: 10232.324334, longitude: 123.3423423}})
      // }, 4000);
      socket.on('message', function(msg) {
        console.log(msg)
      });

      socket.on('connect_error', function(err) {
        console.log(err)
      })
   </script>
  </body>
</html>
