<!DOCTYPE html>
<html>
  <head>
    <title>Home</title>
    {{> head}}
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
        <h1>MyAgnes! Socket Server Listening...</h1>
        <p>How May I help u ?</p>
        <p>
          <!-- <div>
            <a href="/login"><button class="btn btn-primary btn-lg">Log In</button></a>
            <a href="/signup"><button class="btn btn-info btn-lg">Sign Up</button></a>
          </div> -->
        </p>
      </div>
    </div>
    <script src = "/socket.io/socket.io.js"></script>
    <script>

      var JsonToArray = function(json)
      {
        var str = JSON.stringify(json, null, 0);
        var ret = new Uint8Array(str.length);
        for (var i = 0; i < str.length; i++) {
          ret[i] = str.charCodeAt(i);
        }
        return ret
      };

      var binArrayToJson = function(binArray)
      {
        var str = "";
        for (var i = 0; i < binArray.length; i++) {
          str += String.fromCharCode(parseInt(binArray[i]));
        }
        return JSON.parse(str)
      }

      // let data = JsonToArray({"name":"Aqib Yaqoob", "age" : 123, "data": "No data"})

      // console.log(binArrayToJson(data))



      let data = {token: "eyJ0eXAiOiJKV1QiLCJhbGciOiJSUzI1NiJ9.eyJhdWQiOiIxIiwianRpIjoiMGYyZWQzOGE5OTEwNGQ4ZWM5NDQ4M2Y1MzZiNjQ2NzU0NGJlM2JmYzIwNzYxY2ExNGNmMDBlODQyOTI1OWExYzM2ZmU3MzY4NjM1MzcwNmUiLCJpYXQiOjE2MTUwNTQwMTYsIm5iZiI6MTYxNTA1NDAxNiwiZXhwIjoxNjQ2NTkwMDE2LCJzdWIiOiIyOCIsInNjb3BlcyI6W119.i3SVcwkr2DTfs6vUTGF1ZWu11Tw9mhqK1J_q6jnA5tIfyIODoKHCSGgtFFS53ZyBgjKiweMeSnsKkbxqG8fslfldZkgoe8UtVsBISUFWgVH847GTP-O9tUTMp6ir_FqrIw5pUI7gaipjJ-FWW_Wj7nwSlFgIAQ8zAPPsRt0PC4pIeW6oEV--O5xAlnGxlG5Zd339duW3NzFHJIgKzKeAMppP_4xGEDfrHMu4JRWceIppmUkX9EnFK44RV0JTIBfqJgbF0CWqH9HblxvLMnOdN5cM9JUYVYdnNe-pC_lqPpVy26-sOUX6jWOfu082_IBIvUBsTggwSW19PJVzlfjHlFlSGDtVrwtZIZY_alFgwr4NWLHrLdMThXU2jt3fHUyMnDrwBQ9x3SdTZ7JHYCtsND7SMjDxmnKtZn37yOKtq6SNpaks8xL1qZ1ilTobjOyKncUrBXP_FbEfWuQALif5gC__q-lKs1Uu-cQ0Guz8RvkdpL8RcBxFTysGNC8bJZi2GKjFxPXGKkH-I6QhkZ0gr1I-hWAqKa0ZJB9DNU25G1e62Roe48scklcdMXJQz85n9h46JA0wjGs6a7sAwHVPmYz2x-tGD94qmFs1Mppydg7pHeEJDh55vst3oDgQJZDCMK6pqFIaEuN7I8NpkwT6v-gvhrpZ0hKdt9gmE12aDJk"}
      const socket = io.connect('https://myagnesadmin.com', {
        query: data
      });


      // Step 1 (Active Booking)
      // socket.emit('message', {type: 1, data: {bookingId: 19}})

      // Step 2 (Send Updated Location against jobId)
      setInterval(() => {
        socket.emit('message', {type: 2, data: {currentLatitude: 121.2324564, currentLongitude: 22343.454}})
      }, 6000)

      // setTimeout(function(){ 
      //   socket.emit('message', {type: 3, data: {jobId: 10}})
      // }, 20000);
      // var socket = io();
      // setInterval(() => {
      //   socket.emit('message', {type: 1, data: {latitude: 10232.324334, longitude: 123.3423423}})
      // }, 4000);
      socket.on('message', function(msg) {
        console.log(msg)
      })

      socket.on('connect_error', function(err) {
        console.log(err)
      })
   </script>
  </body>
</html>
